<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.webappbooster.demo"
    android:versionCode="10"
    android:versionName="1.0.9" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    
    <application
        android:name="org.webappbooster.BoosterApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/demo_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.webappbooster.demo.MainActivity"
            android:label="@string/demo_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.webappbooster.ProxyActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:taskAffinity="com.android.browser">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <service android:name="org.webappbooster.BoosterService"
            android:exported="false">
        </service>
    </application>

</manifest>